@tailwind base;
@tailwind components;
@tailwind utilities;

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
}

.arch-grid {
    display: grid;
    grid-template-areas: 
            "title"
            "image"
            "description";
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr;
}
.arch-title {
    grid-area: title;
}
.arch-image {
    grid-area: image;
}
.arch-description {
    grid-area: description;
}

@media only screen and (min-width: 768px) {
    .arch-grid {
        grid-template-areas: 
                "image title"
                "image description";
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .arch-inverse {
        grid-template-areas: 
                "title image"
                "description image";
    }
}
